/*
 * Web Starter Kit
 *
 * Multi-screen layout styles for your page. Brought to you by the
 * Web Starter Kit team.
 *
 */
@import '_h5bp';

/*
 * Visual Style Guide styles
 * Remove if you prefer to use a CSS library, like Bootstrap
 */
@import 'components/components';
@import 'bourbon/bourbon';

$degree: 10deg;
$blue: #002d62;
$gray: #6e6e6e;
$grayborder: #e6e6e6;
$oldgrayborder: #e0e1df;

/* Calendars */
$lightgray: #f2f2f2;
$red: #c41230;
$primary: $red;

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
  font-weight: 300;
  background-color: #fff;
  box-sizing: border-box;
  min-height: 100%;

}

body.open {
  overflow: hidden;
  height: 100%;
  max-height: 100%;
  position: fixed;
}

button.menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
}

button.menu.open {
  path {
    color: white;
    background-color: white;
    fill: white;
  }
}

a {
  &, &:link, &:visited {
    color: $primary;
    text-decoration: none;
  }
  &:hover, &:focus, &:active {
    color: $blue;
  }
}

.header-bg {
  background-color: white;
  height: 64px;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  @media (min-width: 990px) {
    display: none;
  }
}

.app-bar {
  display: block;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 1;
  margin-left: 66px;
  text-align: center;
  padding-right:66px;
}

.app-bar-container {
  width: 100%;
  height: 60px;
  position: relative;
  margin: 0 auto;
  padding-right: 66px;
}

.app-bar.open,
.app-bar.open ~ main {
  -webkit-transform: translate(85%, 0);
          transform: translate(85%, 0);
}

.app-bar .logo {
  font-size: 2em;
  line-height: 60px;
  padding: 0;
  color: #fefefe;
  float: none;
  max-width: none;
  font-weight: 300;
  width: 100%;
  display: block;
  text-align: center;
  img {
    height: 46px;
    width: auto;
  }
}

.app-bar .logo a {
  text-decoration: none;
  color: inherit;
  font-weight: normal;
}

.app-bar-actions {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  z-index: 2;
}

.header-wrapper button {
  width: 66px;
  height: 66px;
  padding: 20px;
  background-image: none;
  background-color: transparent;
  border: none;
  display: inline-block;
  -webkit-transition: background-color 0.2s ease-out;
          transition: background-color 0.2s ease-out;
  -webkit-tap-highlight-color: transparent;
}

.header-wrapper button img {
  height: 24px;
  width: 24px;
}

.header-wrapper button:hover {
  background-color: transparent;
}

.header-wrapper button:focus {
  background-color: transparent;
  outline: 0;
}

.header-wrapper button:active {
  background-color: transparent;
}

.promote-layer {
  /*
  This may promote the layer to a composited
  layer.

  Replace with will-change when available

  #perfmatters
  */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.base,
p,
ul,
ol {
  font-size: 14px;
  line-height: 18px;
}

.navdrawer-container {
  z-index: 1;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 85%;
  height: 100%;
  background-color: $red;
  color: #fefefe;
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  overflow-y: auto;
}

.navdrawer-container.open {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.app-bar,
.navdrawer-container.opened,
main {
  -webkit-transition: -webkit-transform 0.3s ease-out;
          transition: transform 0.3s ease-out;
}

.navdrawer-container h4,
.navdrawer-container ul li a {
  height: 52px;
  padding: 0px 42px;
  line-height: 52px;
  font-size: 18px;
  text-transform: uppercase;
}

.navdrawer-container h4 {
  background-color: transparent;
  color: $red;
  border-bottom: 1px solid #b0001c;
  height: 66px;
}

.navdrawer-container ul,
ul.navtabs {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.navdrawer-container ul li a,
ul.navtabs li a {
  display: block;
  text-decoration: none;
  color: white;
  -webkit-transition: background-color 0.2s ease-out;
          transition: background-color 0.2s ease-out;
  white-space: nowrap;
}

.navdrawer-container ul li,
ul.navtabs li {
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #b0001c;
  padding: 0;
}

.navdrawer-container ul li::before,
ul.navtabs li:before {
  content: none;
}

.navdrawer-container ul li a:hover,
ul.navtabs li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.navdrawer-container ul li a:focus,
ul.navtabs li a:focus {
  background-color: rgba(255, 255, 255, 0.3);
  outline: 0;
}

.navdrawer-container ul li a:active,
ul.navtabs li a:active {
  background-color: rgba(255, 255, 255, 0.4);
}

main {
  /* Height of the header */
  padding: 66px 0px 1px;
  min-height: 100%;
}

.container {
  width: 100%;
  padding: 0;
  margin: 0;
}

.jumbo {
  @include display(flex);
  @include flex-direction(column);
}

.slider-item {
  width: 100%;
  position: relative;
  height: 456px;
  @include flex(1);
  border-right: 1px solid $grayborder;
  border-left: 1px solid $grayborder;
  overflow: hidden;

  &:before {
    content: "";
    position: absolute;

    z-index: -1;
    background-image: url(../content/cyclists.png);
    background-position: top center;
    background-repeat: no-repeat;

    width: 100%;
    height: 100%;
    background-size: cover;

  }

}


.jumbo .slider-item {
  legend {
    @include transform(skew(0deg));
    position: absolute;
    left: 30px;
  }
  display: none;
  &.active {
    display: block;
  }

  .bottom {
    position: absolute;
    bottom: 0;
    background-color: rgba(255,255,255,0.8);
    width: 100%;
    height: auto;
    padding: 24px;
  }
  h3, p, h5 {
    padding-top: 0;
  }

  h3, h4, h5 {
    color: $blue;
  }

  h3 {
    font-size: 17px;
  }

  h5, p {
    font-size: 11px;
    line-height: 14px;
    margin-top: 5px;
    margin-bottom: 8px;
  }
}



/** Larger Screens - desktops and tablets **/
@media all and (min-width: 990px) {

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
  }

  .header-wrapper {
    height: 85px;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 50px;
  }

  .app-bar {
    position: relative;
    float: left;
    min-width: 210px;
    width: auto;
    margin-left: 0;
    padding: 0;
  }

  .app-bar.open,
  .app-bar.open ~ main,
  .button {
    -webkit-transform: translate(0px, 0);
            transform: translate(0px, 0);
  }

  .app-bar-container {
    display: block;
    height: 85px;
    max-width: 210px;
    width: auto;
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
  }

  .app-bar .logo {
    float: left;
    margin: 0;
    padding: 0;
    line-height: 85px;
    font-size: 46px;
  }

  .app-bar-actions {
    float: right;
  }

  .app-bar:after {
    content: ' ';
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
  }

  button.menu {
    display: none;
  }

  .navdrawer-container {
    position: relative;
    width: 640px;
    float: right;
    height: auto;
    margin-top: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transition: none;
            transition: none;
    overflow-y: auto;
    background: transparent;
    color: #787878;
    margin-top: 50px;
  }

  .navdrawer-container h4 {
    display: none;
  }

  .navdrawer-container ul li a,
  ul.navtabs li a {
    height: 34px;
    padding: 9px 14px;
    text-align: center;
    min-width: 85px;
    font-size: 13px;
    line-height: 16px;
    color: #787878;
    font-weight: bold;
  }

  .navdrawer-container ul li,
  ul.navtabs li {
    border-bottom: 0px;
    border-color: #cacaca;
    display: inline-block;
    margin-left: -3px;

    border-right: 1px solid #cacaca;
    border-top: 1px solid #cacaca;
    &.active, &:hover {
      & > a {
        background-color: $primary;
        color: white;
      }
    }
  }

  .navdrawer-container ul li:last-child {

  }

  .navdrawer-container ul li:first-child,
  ul.navtabs li:first-child {
    border-left: 1px solid #cacaca;
    margin-left: 0px;
  }

  .navdrawer-container {
    text-align: right;
  }
  .navdrawer-container ul,
  ul.navtabs {
    margin-right: 4px;
    @include transform(skew(-$degree));
    background-color: white;
    display: inline-block;
  }



  .navdrawer-container ul {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  }

  main {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    min-height: initial;
  }

  body {
    overflow-y: scroll;
  }

  .jumbo {
    width: 100%;
    @include transform(skew(-$degree));
    @include flex-direction(row);
  }
  .jumbo .slider-item {
    width: 33%;
    display: block;
    height: 391px;
    opacity: 0.3;
    position: relative;

    .bottom {
      height: 122px;
      padding: 0;
    }

    .content {
      padding: 13px 5px 13px 36px;
      margin-right: 0;
    }




  }
  .jumbo .slider-item.active,
  .jumbo .slider-item:hover {
    opacity: 1;
    cursor: pointer;
  }
  .jumbo .slider-item .content {
    @include transform(skew($degree));
  }
  .jumbo .slider-item:before {
    @include transform(skew($degree));
    width: 200%;
    height: 200%;
    top: 0%;
    left: -20%;
    background-size: contain;
  }

}

span.legend,
h1.legend,
h2.legend,
h3.legend,
div.legend,
label.legend,
legend {
  display: inline-block;
  @include transform(skew(-$degree));
  color: white;
  background-color: $red;
  font-weight: bold;
  padding: 1px 10px;
  clear: both;
  font-size: 16px;
line-height: 1.6250em;
}

.clearfix {
  @include clearfix;
}

table.calendar {

  margin-top: 0;
  * {
    border-top-color: #efefef;
    border-bottom-color: #efefef;
    border-left-color: #efefef;
    border-right-color: #efefef;
  }
  td,th {
    font-size: 7px;
    padding: 0px;
    text-transform: uppercase;
    line-height: 9px;
  }
  thead {
    border-width: 1px;
    border-style: solid;
    tr {
      background-color: $lightgray;
      th {
        color: $gray;
      }
      th.header {
        font-size: 9px;
        font-weight: bold;
        line-height: 13px;
        color: $blue;
      }
    }
  }
  tbody {
    tr {
      background-color: white;
      td.active {
        background-color: $primary;
        color: white;
      }
      td {
        text-align: center;
        border-width: 1px;
        border-style: solid;
      }
    }
  }
}

/* end calendars */

footer {
  text-align: center;
  font-size: 11px;
  color: $gray;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.75);
box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  padding-top: 18px;
  padding-bottom: 18px;
}

/* scaffolding */

.row {
  /* gutter? nah */
  @include clearfix;
  @include display(flex);
  @include flex-direction(column-reverse);
  &.flow {
    flex-flow: row wrap;
    justify-content: space-around;
  }
}

.pad {
  padding: 21px;
}

.column {

  .legend {
    margin-top: 3px;
    margin-bottom: 25px;
  }
}


.column--thirds {
  @include flex(1);
  float: none;
  width: 100%;
}


.second--column {
  @include order(1);

}

@media (min-width: 990px) {
  .row {
    @include flex-direction(row);
  }

  .column {

  }

  .second--column {
    @include order();
    border-left: 1px solid $grayborder;
    border-right: 1px solid $grayborder;
    @include flex(.92);
  }

  .first--column {
    @include flex(.844);
  }

  .third--column {

  }

}

.events .row .column--thirds {
  padding: 3px;
}

.button--primary, a.button--primary {

  color: $blue;
  border-radius: 3px;
  padding: 9px 13px;
  font-size: 11px;
  line-height: 11px;
  border: 1px solid $grayborder;
  @include linear-gradient(#fbfbfb, $grayborder, $grayborder);
}

.button--secondary, a.button--secondary {

  @include linear-gradient(#305d92, #002d62, #002d62);

  color: white;
  border-radius: 3px;
  padding: 9px 13px;
  font-size: 11px;
  line-height: 11px;
  border: 1px solid #002d62;
}

aside p {
  padding-top: 0;
}

aside.widget, .posts article {
  border-bottom: 1px solid $grayborder;
  @extend .pad;
}

aside.widget:last-child,
.posts article:last-child {
  border: 0px;
}

.events {
  display: none;
  @media (min-width: 990px) {
    display: block;
  }
}

.posts {
  .pad:first-child {
    padding-bottom: 0;
  }

  article.pad:nth-of-type(1) {
    padding-top: 0;
  }

  article h3 {
    padding-top: 0;
  }
}

.breadcrumbs-header {
  background-color: #f0f0f0;

  -webkit-box-shadow: inset 0px 3px 9px 0px rgba(50, 50, 50, 0.29);
-moz-box-shadow:    inset 0px 3px 9px 0px rgba(50, 50, 50, 0.29);
box-shadow:         inset 0px 3px 9px 0px rgba(50, 50, 50, 0.29);
}

.breadcrumbs {
  padding-top: 11px;
  padding-bottom: 11px;
  & > li {
    &:before {
      content: '| ';
    }
    &:first-child:before {
      content: "";
    }
    padding-left: 10px;
    padding-right: 5px;
    display: inline-block;
    a {

    }
  }
}

main .header {
  .promote-layer {
    @include display(flex);
    @include flex-direction(row);
  }
  .column--left {
    background-color: $primary;
    &, a {color: white;}
  }
}

.column--left {
  @include flex(1);
}
.column--right {
  @include flex(2.423);
}

.main-container .column--right {
  border-left: 1px solid $grayborder;
  margin-left: 4px;
}

.left-right {
  @include clearfix;
  .left, .right {
    width: 50%;
    float: left;
  }
}

.event {
  article {
    position: relative;
    .register {
      position: absolute;
      right: 21px;
      top: 21px;
    }
    h2 {
      font-size: 17px;
      text-transform: uppercase;
      color: $blue;
      font-weight: bold;
      line-height: 21px;
      margin-bottom: 8px;
    }
    p {
      font-size: 11px;
      line-height: 15px;
    }
    header h4 {
      margin: 0;
      padding: 0;
      padding-bottom: 2px;
      color: $blue;
      text-transform: uppercase;
      font-size: 11px;
      line-height: 13px;
    }

    h3, h4 {
      font-size: 13px;
      margin: 0;
      color: $blue;
      text-transform: uppercase;
      font-weight: 600;
    }

    h4 {
      font-size: 11px;
    }

    h5 {
      text-transform: none;
      font-size: 11px;
      margin: 0;
      margin-bottom: 6px;
      color: $blue;
      font-weight: 600;
    }

    .stackable-grid {
      p {
        padding-top: 0;
      }
    }

  }
}

hr {
  color: #e6e6e6;
  background-color: #e6e6e6;
  margin: 16px 0;
  border-color: #e6e6e6;
  border: 0;
  border-top: 1px solid #e6e6e6;
}

.sidenav {
  padding: 0 25px;
  .left {
    border-right: 1px solid #b0001c;
    height: 150px;
  }
  ul {
    padding: 25px;


    margin: 0;
    list-style-type: none;
    li {
      font-size: 14px;
      font-weight: bold;
      line-height: 23px;

      color: white;
      list-style-type: none;
      padding: 0;
      margin: 0;
      &:before {
        content: "";
      }

    }
  }
}

ul.navtabs {
  &, li, a {
    border-color: white !important;
  }

  a {
    background-color: #e6e6e6;
  }

}

.maps {
  padding-top: 33px;
    .viewport {
      border: 1px solid #e6e6e6;
      margin-left: -2px;
      padding: 20px;

      ul.views {
        padding: 0px;
        margin: 0px;
        & > li {
          padding: 0px;
          margin: 0px;
          &:before {
            content: "";
          }


          p {
            max-width: 60%;
            margin-bottom: 15px;
          }

          img {
            float: left;
            &.float-right {
              margin-left: 2px;
              margin-bottom: 2px;
            }
          }

        }
      }
    }
}

.stackable-grid {
  @include clearfix;
  .grid-item {
    float: left;
  }
  .grid-item-4 {
    width: 25%;
  }
}

@import '_fonts';
