table.calendar {

  margin-top: 0;
  * {
    border-top-color: #efefef;
    border-bottom-color: #efefef;
    border-left-color: #efefef;
    border-right-color: #efefef;
  }
  td,th {
    font-size: 7px;
    padding: 0px;
    text-transform: uppercase;
    line-height: 9px;
  }
  thead {
    border-width: 1px;
    border-style: solid;
    tr {
      background-color: $lightgray;
      th {
        color: $gray;
      }
      th.header {
        font-size: 9px;
        font-weight: bold;
        line-height: 13px;
        color: $blue;
      }
    }
  }
  tbody {
    tr {
      background-color: white;
      td.active {
        background-color: $primary;
        color: white;
      }
      td {
        text-align: center;
        border-width: 1px;
        border-style: solid;
      }
    }
  }
}

/* end calendars */