/* ==========================================================================
   Fawnts
   ========================================================================== */

@font-face {
  font-family: 'OldFace';
  font-style: normal;
  font-weight: 300;
  src: url(public/fonts/ag-old-face-regular.eot);
  src: local('AGOldFace Regular'), local('AGOldFace-Regular'), local('AGOldFace'), url(public/fonts/ag-old-face-regular.eot) format('embedded-opentype'), url(public/fonts/ag-old-face-regular.woff) format('woff');
}

@font-face {
  font-family: 'OldFace';
  font-style: normal;
  font-weight: 700;
  src: url(public/fonts/ag-old-face-bold.eot);
  src: local('AGOldFace Bold'), local('AGOldFace-Bold'), url(public/fonts/ag-old-face-bold.eot) format('embedded-opentype'), url(public/fonts/ag-old-face-bold.woff) format('woff');
}