/*
 * Web Starter Kit
 *
 * Multi-screen layout styles for your page. Brought to you by the
 * Web Starter Kit team.
 *
 */
@import 'h5bp';

/*
 * Visual Style Guide styles
 * Remove if you prefer to use a CSS library, like Bootstrap
 */
@import 'components/components';
@import 'bourbon/_bourbon';

$degree: 10deg;
$blue: #002d62;
$gray: #6e6e6e;
$grayborder: #e6e6e6;
$oldgrayborder: #e0e1df;

/* Calendars */
$lightgray: #f2f2f2;
$red: #c41230;
$primary: $red;

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  position: static;
  font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
  font-weight: 300;
  background-color: #fff;
  box-sizing: border-box;
  min-height: 100%;
}

body.open {
  overflow: hidden;
  height: 100%;
  max-height: 100%;
  position: fixed;
}


/** QTIP */

@import '_qtip';

/** QTIP */

button.menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
}

button.menu.open {
  path {
    color: white;
    background-color: white;
    fill: white;
  }
}

a {
  &, &:link, &:visited {
    color: $primary;
    text-decoration: none;
  }
  &:hover, &:focus, &:active {
    color: $blue;
  }
}

.header-bg {
  background-color: white;
  height: 64px;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  @media (min-width: 990px) {
    display: none;
  }
}

.app-bar {
  display: block;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 1;
  margin-left: 66px;
  text-align: center;
  padding-right:66px;
}

.app-bar-container {
  width: 100%;
  height: 60px;
  position: relative;
  margin: 0 auto;
  padding-right: 66px;
}

.app-bar.open,
.app-bar.open ~ main {
  -webkit-transform: translate(85%, 0);
          transform: translate(85%, 0);
}

.app-bar .logo {
  font-size: 2em;
  line-height: 60px;
  padding: 0;
  color: #fefefe;
  float: none;
  max-width: none;
  font-weight: 300;
  width: 100%;
  display: block;
  text-align: center;
  img {
    height: 46px;
    width: auto;
  }
}

.app-bar .logo a {
  text-decoration: none;
  color: inherit;
  font-weight: normal;
}

.app-bar-actions {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  z-index: 2;
}

.header-wrapper button {
  width: 66px;
  height: 66px;
  padding: 20px;
  background-image: none;
  background-color: transparent;
  border: none;
  display: inline-block;
  -webkit-transition: background-color 0.2s ease-out;
          transition: background-color 0.2s ease-out;
  -webkit-tap-highlight-color: transparent;
}

.header-wrapper button img {
  height: 24px;
  width: 24px;
}

.header-wrapper button:hover {
  background-color: transparent;
}

.header-wrapper button:focus {
  background-color: transparent;
  outline: 0;
}

.header-wrapper button:active {
  background-color: transparent;
}

.promote-layer {
  /*
  This may promote the layer to a composited
  layer.

  Replace with will-change when available

  #perfmatters
  */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}


@import '_components';
@import '_layouts';

@import '_slider';
@import '_menus';




@import '_calendar';


footer {
  text-align: center;
  font-size: 11px;
  color: $gray;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  padding-top: 18px;
  padding-bottom: 18px;
}



aside p {
  padding-top: 0;
}

aside.widget, .posts article {
  border-bottom: 1px solid $grayborder;
  @extend .pad;
}

aside.widget:last-child,
.posts article:last-child {
  border: 0px;
}

.events {
  display: none;
  @media (min-width: 990px) {
    display: block;
  }
}

.posts {
  .pad:first-child {
    padding-bottom: 0;
  }

  article.pad:nth-of-type(1) {
    padding-top: 0;
  }

  article h3 {
    padding-top: 0;
  }
}

.breadcrumbs-header {
  background-color: #f0f0f0;

  -webkit-box-shadow: inset 0px 3px 9px 0px rgba(50, 50, 50, 0.29);
-moz-box-shadow:    inset 0px 3px 9px 0px rgba(50, 50, 50, 0.29);
box-shadow:         inset 0px 3px 9px 0px rgba(50, 50, 50, 0.29);
}



.event {
  article {
    position: relative;
    .register {
      position: absolute;
      right: 21px;
      top: 21px;
    }
    h2 {
      font-size: 17px;
      text-transform: uppercase;
      color: $blue;
      font-weight: bold;
      line-height: 21px;
      margin-bottom: 8px;
    }
    p {
      font-size: 11px;
      line-height: 15px;
    }
    header h4 {
      margin: 0;
      padding: 0;
      padding-bottom: 2px;
      color: $blue;
      text-transform: uppercase;
      font-size: 11px;
      line-height: 13px;
    }

    h3, h4 {
      font-size: 13px;
      margin: 0;
      color: $blue;
      text-transform: uppercase;
      font-weight: 600;
    }

    h4 {
      font-size: 11px;
    }

    h5 {
      text-transform: none;
      font-size: 11px;
      margin: 0;
      margin-bottom: 6px;
      color: $blue;
      font-weight: 600;
    }

    .stackable-grid {
      p {
        padding-top: 0;
      }
    }

  }
}



.sidenav {
  padding: 0 25px;
  .left {
    border-right: 1px solid #b0001c;
    height: 150px;
  }
  ul {
    padding: 25px;


    margin: 0;
    list-style-type: none;
    li {
      font-size: 14px;
      font-weight: bold;
      line-height: 23px;

      color: white;
      list-style-type: none;
      padding: 0;
      margin: 0;
      &:before {
        content: "";
      }

    }
  }
}

ul.navtabs {
  &, li, a {
    border-color: white !important;
  }

  a {
    background-color: #e6e6e6;
  }

}

.maps {
  padding-top: 33px;
    .viewport {
      border: 1px solid #e6e6e6;
      margin-left: -2px;
      padding: 20px;

      ul.views {
        padding: 0px;
        margin: 0px;
        & > li {
          padding: 0px;
          margin: 0px;
          &:before {
            content: "";
          }


          p {
            max-width: 60%;
            margin-bottom: 15px;
          }

          img {
            float: left;
            &.float-right {
              margin-left: 2px;
              margin-bottom: 2px;
            }
          }

        }
      }
    }
}

.stackable-grid {
  @include clearfix;
  .grid-item {
    float: left;
  }
  .grid-item-4 {
    width: 25%;
  }
}

//@import 'fonts';
