.navdrawer-container {
  z-index: 1;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 85%;
  height: 100%;
  background-color: $red;
  color: #fefefe;
  -webkit-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
  overflow-y: auto;
}

.navdrawer-container.open {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.app-bar,
.navdrawer-container.opened,
main {
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}

.navdrawer-container h4,
.navdrawer-container > ul > li > a {
  height: 52px;
  padding: 0px 42px;
  line-height: 52px;
  font-size: 18px;
  text-transform: uppercase;
}

.navdrawer-container h4 {
  background-color: transparent;
  color: $red;
  border-bottom: 1px solid #b0001c;
  height: 66px;
}

.navdrawer-container ul,
ul.navtabs {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.navdrawer-container ul li a,
ul.navtabs li a {
  display: block;
  text-decoration: none;
  color: white;
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
  white-space: nowrap;
}

.navdrawer-container ul li,
ul.navtabs li {
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #b0001c;
  padding: 0;
}

.navdrawer-container ul li::before,
ul.navtabs li:before {
  content: none;
}

.navdrawer-container ul li a:hover,
ul.navtabs li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.navdrawer-container ul li a:focus,
ul.navtabs li a:focus {
  background-color: rgba(255, 255, 255, 0.3);
  outline: 0;
}

.navdrawer-container ul li a:active,
ul.navtabs li a:active {
  background-color: rgba(255, 255, 255, 0.4);
}

@media all and (min-width: 990px) {

  .header-wrapper {
    height: 85px;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 50px;
  }

  .app-bar {
    position: relative;
    float: left;
    min-width: 210px;
    width: auto;
    margin-left: 0;
    padding: 0;
  }

  .app-bar.open,
  .app-bar.open ~ main,
  .button {
    -webkit-transform: translate(0px, 0);
    transform: translate(0px, 0);
  }

  .app-bar-container {
    display: block;
    height: 85px;
    max-width: 210px;
    width: auto;
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
  }

  .app-bar .logo {
    float: left;
    margin: 0;
    padding: 0;
    line-height: 85px;
    font-size: 46px;
  }

  .app-bar-actions {
    float: right;
  }

  .app-bar:after {
    content: ' ';
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
  }

  button.menu {
    display: none;
  }

  .navdrawer-container {
    position: relative;
    width: 640px;
    float: right;
    height: auto;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: none;
    transition: none;
    overflow-y: auto;
    background: transparent;
    color: #787878;
    margin-top: 49px;
  }

  .navdrawer-container h4 {
    display: none;
  }

  .navdrawer-container > ul > li > a,
  ul.navtabs li a {
    height: 34px;
    padding: 9px 14px;
    text-align: center;
    min-width: 85px;
    font-size: 13px;
    line-height: 16px;
    color: #787878;
    font-weight: bold;
  }

  .navdrawer-container > ul > li,
  ul.navtabs li {
    border-bottom: 0px;
    border-color: #cacaca;
    display: inline-block;
    margin-left: -3px;

    border-right: 1px solid #cacaca;
    border-top: 1px solid #cacaca;
    &.active, &:hover {
      & > a {
        background-color: $primary;
        color: white;
      }
    }
  }

  .navdrawer-container > ul > li:last-child {

  }

  .navdrawer-container > ul > li:first-child,
  ul.navtabs li:first-child {
    border-left: 1px solid #cacaca;
    margin-left: 0px;
  }

  .navdrawer-container {
    text-align: right;
    overflow: visible;
  }
  .navdrawer-container > ul,
  ul.navtabs {
    margin-right: 4px;
    @include transform(skew(-$degree));
    background-color: white;
    display: inline-block;
  }

  .navdrawer-container > ul {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.45);
    -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.45);
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.45);

    position: relative;

    & > li {
      position: static;
    }

    .sub-menu {
      position: absolute;
      top: 35px;
      right: 0px;
      margin-left: 3px;
      width: 100%;
      @include transform(skew($degree));
      background-color: $primary;
      padding: 5px;
      & > li a {
        padding: 5px;
        height: 35px;
        line-height: 25px;
      }

    }

    .sub-menu {
      display: none;
    }

    & > li:hover .sub-menu {
      display: block;
    }

  }

}